@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --font-size-smaller: 0.65rem;
  --font-size-small: 0.75rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.35rem;
  --color-secondary: #dcf6ff;
  /*Color for background*/
  --color-primary: #2596be;
  /*Color for contrast to background*/
  --color-gray: #AAAAB1;
  --color-white: #fdfdfd;
  --color-black: #2f2f2f;
  --color-warn: #ff0000;
  --height-calendar:
}

* {
  /* border: solid 1px red; */
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-secondary);
  font-family: 'Kanit', sans-serif;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: var(--color-primary);
  font-size: var(--font-size-medium);
  color: var(--color-white);
  font-weight: 400;
  text-align: center;
}

.navbar span {
  display: inline-block;
  padding: 8px;
}

.navbar span:hover {
  cursor: pointer;
  color: var(--color-black);
}

.container {
  margin: 32px;
  padding: 16px;
}

.calendar-base {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background-color: var(--color-white);
  color: var(--color-black);
  display: grid;
  grid-template-columns: 40% 60%;
}

.section-left {
  background-color: var(--color-primary);
  color: white;
  border-radius: 20px 0 0 20px;
  height: inherit;
  display: flex;
  flex-direction: column;
  border: solid 1px red;
  padding: 24px;
}
.section-left .nav{

}

.year {
  display: none;
  border: solid 2px red;
  color: var(--color-gray);
  font-size: 30px;
  right: 24px;
  top: 20px;
  font-weight: bold;
}

.year:hover {
  color: var(--color-warn);
  font-size: 2.5rem;
  cursor: pointer;
}

.event-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-primary);
  position: relative;
  top: 304px;
  left: 695px;
}

.two {
  position: relative;
  top: 168px;
  left: 535px;
}

.grey {
  color: var(--color-gray);
}

.calendar-left {
  width: 300px;
  height: 500px;
  border-radius: 20px 0px 0px 20px;
  background-color: var(--color-primary);
  position: relative;
  z-index: -1;
  color: white;
}

.hamburger {
  /* position: relative; */
  /* margin: 24px; */
}

.burger-line {
  width: 25px;
  height: 3.5px;
  background-color: var(--color-white);
  border-radius: 8px;
  margin-bottom: 4px;
  margin-top: 3px;
}

.section-date {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.num-date {
  font-size: 125px;
  width: 50%;
  font-weight: 700;
}

.day {
  width: 50%;
  font-size: 28px;
  text-align: center;
}

.current-events {
  font-size: 16px;
}

.tag {
  display: block;
  padding: 12px;
  font-size: 0.85rem;
}

.group-salas {
  display: flex;
  justify-content: space-around;
  height: 45px;
}

.sala {
  display: inline-block;
  background-color: var(--color-white);
  height: inherit;
  width: 50px;
  text-align: center;
  border-radius: 20%;
  color: black;
  line-height: 45px;
  font-size: 0.75rem;
}

.create-event {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 8px;
  height: 50%;
  padding: 8px 16px;
  border-radius: 8px;
  border: var(--color-white) solid 1px;
  color: var(--color-white);
  background-color: transparent;
}

.button:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
}


/* Calendar */


:root {
    --calendar-bg-color: #444647;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

.calendar {
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    height: inherit;
    font-weight: normal;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
    background-color: white;
    color: black;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
    
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}